
.nav_link {
  padding: 0 0 0 34px;
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: rgba(62, 76, 89, 0.7);
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  cursor: pointer;
}

.nav_link_name {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    text-decoration: none;
    color: rgba(62, 76, 89, 0.7);
  }
}

.nav_link_selected {
  border-left: 2px solid #EE950F;
  padding-left: 32px;
  div {
    color: #EE950F;
  }
}