.common_button {
  border: none;
  border-radius: 3px;
  background-color: #EE950F;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
}

.get_started {
  margin-top: 4%;
  padding: 22px 40px;
  font-size: 16px;
  line-height: 16px;
}

.sign_up {
  padding: 16px 32px;
  font-size: 14px;
  line-height: 14px;
  z-index: 1;
}

.log_in {
  border: none;
  background-color: transparent;
  color: #EE950F;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  cursor: pointer;
  z-index: 1;
}

.auth_button {
  width: 100%;
  margin: auto;
}

.log_in_btn {
  width: 100%;
  padding: 24px 0;
  margin: 20px auto;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.add_warehouse_btn {
  margin-left: 24px;
  padding: 16px 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
}
