.main_content_space {
  width: 82%;
  height: 100%;
}

.main_bar {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid #ECEFF2;
  min-height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.setting_bar {
  margin-top: 48px;
  margin-right: 28px;
}