.top_bar_list {
  padding: 0;
  margin-right: 10%;
}

.top_bar_link {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  display: inline-block;
  list-style-type: none;
  margin-right: 20px;
  color: rgba(62, 76, 89, 0.7);
  cursor: pointer;
}