.slogan {
  margin-top: 15%;
  width: 80%;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 72px;
}

.subslogan {
  margin-top: 4%;
  width: 45%;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 24px;
  color: rgba(62, 76, 89, 0.8);
}